    <!-- Fonts -->
    <!-- Open Sans for body font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!-- Raleway for Title -->
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <!-- Pacifico for 404 page   -->
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link id="switcher" href="assets/theme-color/default.scss" rel="stylesheet">


  <!-- BEGAIN PRELOADER -->
  <div id="preloader">
    <div class="loader">&nbsp;</div>
  </div>
  <!-- END PRELOADER -->    

  <!-- SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#"><i class="fa fa-chevron-up"></i></a>
  <!-- END SCROLL TOP BUTTON -->

  <!-- Start header section -->  
  <header id="header">
    <div class="header-inner">
      <!-- Header image -->
      <img src="assets/header-bg.jpg" alt="img">
      <div class="header-overlay">
        <div class="header-content">
        <!-- Start header content slider -->
        <h2 class="header-slide">You are at
          <span>MOST CREATIVE</span>
          <span>MOST Easy</span>
          <span>MOST Valuable</span>
          Application</h2>
        <!-- End header content slider -->  
        <!-- Header btn area -->
        <div class="header-btn-area">
<!--           <a class="knowmore-btn" href="#">KNOW MORE</a>
          <a class="download-btn" href="#">DOWNLOAD Theme</a> -->
        </div>
      </div>
      </div>      
    </div>
  </header>
  <!-- End header section -->

  <!-- Start menu section -->
  <section id="menu-area">
    <nav class="navbar navbar-default main-navbar" role="navigation">  
      <div class="container">
        <div class="navbar-header">
          <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- LOGO -->                                               
           <div class="navbar-brand logo" href="index.html"><img src="assets/vjs1.png" alt="Logo"></div>                      
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul id="top-menu" class="nav navbar-nav main-nav menu-scroll">
            <!-- <li class="active">Home</a></li> -->
            <li><a href="#about">ABOUT</a></li> 
            <li><a href="#team">TEAM</a></li>                    
            <li><a href="#service">SERVICE</a></li> 
            <li><a href="#portfolio">PORTFOLIO</a></li>
            <li><a href="#call-to-action">Log In </a></li>             
            <li><a href="#contact">CONTACT</a></li>      
          </ul>                            
        </div><!--/.nav-collapse -->       
      </div>          
    </nav> 
  </section>
  <!-- End menu section -->

  
  <!-- Start about section -->
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- Start welcome area -->
          <div class="welcome-area">
            <div class="title-area">
              <h2 class="tittle">Welcome to <span>Vishwajyothi International Public School.</span></h2>
              <span class="tittle-line"></span>
              <p>With the sole objective of imparting quality education to rural students of North Karnataka region, a non-profit trust under the name “Shri Vishwajyothi Educational Trust” dedicated for all round development of students in particular and public in general .</p>
            </div>
            <div class="welcome-content">
              <ul class="wc-table">
                <li>
                  <div class="single-wc-content wow fadeInUp">
                    <span class="fa fa-users wc-icon"></span>
                    <h4 class="wc-tittle">Concept</h4>
                    <p>Implementing concepts with Innovative thoughts to fullfill children bright future. </p>
                  </div>
                </li>
                <li>
                  <div class="single-wc-content wow fadeInUp">
                    <span class="fa fa-sellsy wc-icon"></span>
                    <h4 class="wc-tittle">Infrastructure</h4>
                    <p>The College has a separate building for PU students. The class rooms are spacious and are equipped with ergonomically designed desks and smart classrooms..  </p>
                  </div>
                </li>
                <li>
                  <div class="single-wc-content wow fadeInUp">
                    <span class="fa fa-line-chart wc-icon"></span>
                    <h4 class="wc-tittle">Vision</h4>
                    <p>“It’s our vision and mission to provide and equip children, from different backgrounds, with quality education and skills required to become successful individuals.” </p>
                  </div>
                </li>
                <li>
                  <div class="single-wc-content wow fadeInUp">
                    <span class="fa fa-bus wc-icon"></span>
                    <h4 class="wc-tittle">VJS Strategy</h4>
                    <p>The integrated approach adopted by the college enables the students to achieve academic excellence in their PU Board examinations and competitive examinations.</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!-- End welcome area -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="about-area">
            <div class="row">
              <div class="col-md-5 col-sm-6 col-xs-12">
                <div class="about-left wow fadeInLeft">
                  <img src="assets/about-img.jpg" alt="img">
                  <a class="introduction-btn">Introduction</a>
                </div>
              </div>
              <div class="col-md-7 col-sm-6 col-xs-12">
                <div class="about-right wow fadeInRight">
                  <div class="title-area">
                    <h2 class="tittle">About <span>Vishwajyothi Educational Trust</span></h2>
                    <span class="tittle-line"></span>
                    <p>“God helps those who help themselves” - the saying became true when the new school was blessed with the godly figure, his Holiness Shri Shri Shri Dr Shivakumar Swamiji, Shri Siddhaganga Math, Siddhaganga Kshetra, Tumkuru. The foundation for the new school building was laid by his Holiness on 4th Aug 2009.</p> 
                    <div class="about-btn-area">
                      <a data-no-turbolink="true" class="button button-default" data-text="KNOW MORE"><span>KNOW MORE</span></a>
                    </div>                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> 
  <!-- End about section -->
   <!-- Start Team action -->
  <section id="team">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="team-area">
            <div class="title-area">
              <h2 class="tittle">Meet our team</h2>
              <span class="tittle-line"></span>
              <p>Shri Vishwajyothi Educational Trust was founded by the founding Trustees of the Trust namely <span style="color: #00d999;">Sri. N.G Basavaraja, Sri. R Basavalingappa and Smt. R Mangala Gowri</span>. All the Trustees are passionate about education and social service. This resulted in coming together of all the three like-minded persons to start a Trust for a good cause of imparting good and advanced education to rural students.</p>
            </div>
            <!-- Start team content -->
            <div class="team-content">
              <ul class="team-grid">
                <li>
                  <div class="team-item team-img-1 wow fadeInUp">
                    <div class="team-info">
                      <p> Sri. N G Basavaraja is founder of Shri Vishwajyothi Educational Trust.</p> 
                      <a><span class="fa fa-facebook"></span></a>
                      <a><span class="fa fa-twitter"></span></a>
                      <a><span class="fa fa-pinterest"></span></a>
                      <a><span class="fa fa-rss"></span></a>
                    </div>
                  </div>
                  <div class="team-address">
                    <p>Sri. N G Basavaraja</p>
                    <span>Founder</span>
                  </div>
                </li>
                <li>
                  <div class="team-item team-img-2 wow fadeInUp">
                    <div class="team-info">
                      <p> Sri. R Basavalingappa is co-founder of Shri Vishwajyothi Educational Trust.</p>
                      <a><span class="fa fa-facebook"></span></a>
                      <a><span class="fa fa-twitter"></span></a>
                      <a><span class="fa fa-pinterest"></span></a>
                      <a><span class="fa fa-rss"></span></a>
                    </div>
                  </div>
                  <div class="team-address">
                    <p>Sri. R Basavalingappa</p>
                    <span>Co-founder</span>                  
                  </div>
                </li>
                <li>
                  <div class="team-item team-img-3 wow fadeInUp">
                    <div class="team-info">
                      <p>Smt R Mangala Gowri is principal of Shri Vishwajyothi Educational Trust.</p>
                      <a><span class="fa fa-facebook"></span></a>
                      <a><span class="fa fa-twitter"></span></a>
                      <a><span class="fa fa-pinterest"></span></a>
                      <a><span class="fa fa-rss"></span></a>
                    </div>
                  </div>
                  <div class="team-address">
                    <p>Smt R Mangala Gowri</p>
                    <span>Pricipal</span>
                  </div>
                </li>
              </ul>
            </div>
            <!-- End team content -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Start Team action --> 

  <!-- Start call to action -->
  <section id="call-to-action">
    <img src="assets/call-to-action-bg.png" alt="img">
    <div class="call-to-overlay">
      <div class="container">
        <div class="call-to-content wow fadeInUp">
          <h2>Log In now to experience the new flavours.</h2>
          <a href='/users/sign_in' class="button button-default" data-text="GET IT NOW"><span>Log In NOW</span></a>
        </div>
      </div>
    </div> 
  </section>
  <!-- End call to action -->

  <!-- Start Team action -->
  <!-- Start Team action -->

  <!-- Start service section -->
  <section id="service">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="service-area">
            <div class="title-area">
              <h2 class="tittle">Activities.</h2>
              <span class="tittle-line"></span>
              <p>The academics is the heart of the whole process which is specially designed to suit the present requirement of the world. Every subject text book is diligently selected to suit the requirement of the students’ capabilities and also the need of the hour. The basic concepts in each subject is made to understand with relevant examples to the students. The essence of the whole process is to timely complete the syllabi thoroughly and prepare for revision. The performance of the teachers and the students are supervised by the Academic Coordinators and the Principal.</p>
            </div>
            <!-- service content -->
            <div class="service-content">
              <ul class="service-table">
                <li class="col-md-3 col-sm-6">
                  <div class="single-service wow slideInUp">
                    <span class="fa fa-edit service-icon"></span>
                    <h4 class="service-title">FACULTY</h4>
                    <p>The school boasts of highly qualified and experienced teaching faculty.</p>
                  </div>
                </li>
                <li class="col-md-3 col-sm-6">
                  <div class="single-service wow slideInUp">
                    <span class="fa fa-sort-amount-asc service-icon"></span>
                    <h4 class="service-title">CURRICULUM</h4>
                    <p>The school has adopted and affiliated to The Council for the ISCE.</p>
                  </div>
                </li>
                <li class="col-md-3 col-sm-6">
                 <div class="single-service wow slideInUp">
                    <span class="fa fa-map-o service-icon"></span>
                    <h4 class="service-title">ACADEMICS</h4>
                    <p>The academics is the heart of the whole process which is specially designed.</p>
                  </div>
                </li>
                <li class="col-md-3 col-sm-6">
                  <div class="single-service wow slideInUp">
                    <span class="fa fa-rocket service-icon"></span>
                    <h4 class="service-title">MOTIVATION</h4>
                    <p>Motivational sessions are conducted to improve students moral strength.</p>
                  </div>
                </li>
                <li class="col-md-3 col-sm-6">
                  <div class="single-service wow slideInUp">
                    <span class="fa fa-car service-icon"></span>
                    <h4 class="service-title">Sports</h4>
                    <p>“All study and no play makes Tom a dull Boy,A sound mind in a sound body”.</p>
                  </div>
                </li>
                <li class="col-md-3 col-sm-6">
                  <div class="single-service wow slideInUp">
                    <span class="fa fa-bank service-icon"></span>
                    <h4 class="service-title">Club</h4>
                    <p>Children are provided with an environment to develop their skills.</p>
                  </div>
                </li>
                <li class="col-md-3 col-sm-6">
                  <div class="single-service wow slideInUp">
                    <span class="fa fa-user-secret service-icon"></span>
                    <h4 class="service-title">School band</h4>
                    <p>The school boasts of its own school band played by its own students.</p>
                  </div>
                </li>
                <li class="col-md-3 col-sm-6">
                  <div class="single-service wow slideInUp">
                    <span class="fa fa-support service-icon"></span>
                    <h4 class="service-title">Cultural events</h4>
                    <p>The school promotes all religions on par and celebrates the Functions.</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End service section -->

  <!-- Start Portfolio section -->
  <section id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="portfolio-area">
            <div class="title-area">
              <h2 class="tittle">Recent portfolio</h2>
              <span class="tittle-line"></span>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto</p>
            </div>
            <!-- Portfolio content -->
            <div class="portfolio-content">
                <!-- portfolio menu -->
               <div class="portfolio-menu">
                 <ul>
                   <li class="filter" data-filter="all">All</li>
                   <li class="filter" data-filter=".branding">Cultural Programs</li>
                   <li class="filter" data-filter=".design">Parents Meet</li>
                   <li class="filter" data-filter=".development">Science Fare</li>
                   <li class="filter" data-filter=".photography">Campus</li>
                 </ul>
               </div>
               <!-- Portfolio container -->
               <div id="mixit-container" class="portfolio-container">
                 <div class="single-portfolio mix branding">
                   <div class="single-item">
                     <img src="assets/cultural1.jpeg" alt="img">
                     <div class="single-item-content">
                        <div class="portfolio-social-icon">
                          <a class="fancybox" data-fancybox-group="gallery" href="assets/cultural1.jpeg"><i class="fa fa-eye"></i></a>
                        </div>
                     </div>
                   </div>
                 </div>
                  <div class="single-portfolio mix branding">
                   <div class="single-item">
                     <img src="assets/cultural2.jpeg" alt="img">
                     <div class="single-item-content">
                        <div class="portfolio-social-icon">
                          <a class="fancybox" data-fancybox-group="gallery" href="assets/cultural2.jpeg"><i class="fa fa-eye"></i></a>
                        </div>
                     </div>
                   </div>
                  </div>
                  <div class="single-portfolio mix branding">
                   <div class="single-item">
                     <img src="assets/cultural3.jpeg" alt="img">
                     <div class="single-item-content">
                        <div class="portfolio-social-icon">
                          <a class="fancybox" data-fancybox-group="gallery" href="assets/cultural3.jpeg"><i class="fa fa-eye"></i></a>
                        </div>
                     </div>
                   </div>
                  </div>
                  <div class="single-portfolio mix branding">
                   <div class="single-item">
                     <img src="assets/cultural4.jpeg" alt="img">
                     <div class="single-item-content">
                        <div class="portfolio-social-icon">
                          <a class="fancybox" data-fancybox-group="gallery" href="assets/cultural4.jpeg"><i class="fa fa-eye"></i></a>
                        </div>
                     </div>
                   </div>
                  </div>  
                 <div class="single-portfolio mix design">
                   <div class="single-item">
                     <img src="assets/parents1.jpeg" alt="img">
                     <div class="single-item-content">
                        <div class="portfolio-social-icon">
                          <a class="fancybox" data-fancybox-group="gallery" href="assets/parents1.jpeg"><i class="fa fa-eye"></i></a>
                        </div>
                     </div>
                   </div>
                 </div>
                 <div class="single-portfolio mix design">
                   <div class="single-item">
                     <img src="assets/parents2.jpeg" alt="img">
                     <div class="single-item-content">
                        <div class="portfolio-social-icon">
                          <a class="fancybox" data-fancybox-group="gallery" href="assets/parents2.jpeg"><i class="fa fa-eye"></i></a>
                        </div>
                     </div>
                   </div>
                 </div>
                 <div class="single-portfolio mix design">
                   <div class="single-item">
                     <img src="assets/parents3.jpeg" alt="img">
                     <div class="single-item-content">
                        <div class="portfolio-social-icon">
                          <a class="fancybox" data-fancybox-group="gallery" href="assets/parents3.jpeg"><i class="fa fa-eye"></i></a>
                        </div>
                     </div>
                   </div>
                 </div>
                 <div class="single-portfolio mix design">
                   <div class="single-item">
                     <img src="assets/parents4.jpeg" alt="img">
                     <div class="single-item-content">
                        <div class="portfolio-social-icon">
                          <a class="fancybox" data-fancybox-group="gallery" href="assets/parents4.jpeg"><i class="fa fa-eye"></i></a>
                        </div>
                     </div>
                   </div>
                 </div>
                 <div class="single-portfolio mix development">
                   <div class="single-item">
                     <img src="assets/sf1.jpg" alt="img">
                     <div class="single-item-content">
                        <div class="portfolio-social-icon">
                          <a class="fancybox" data-fancybox-group="gallery" href="assets/sf1.jpg"><i class="fa fa-eye"></i></a>
                        </div>
                     </div>
                   </div>
                 </div>
                 <div class="single-portfolio mix development">
                   <div class="single-item">
                     <img src="assets/sf2.jpg" alt="img">
                     <div class="single-item-content">
                        <div class="portfolio-social-icon">
                          <a class="fancybox" data-fancybox-group="gallery" href="assets/sf2.jpg"><i class="fa fa-eye"></i></a>
                        </div>
                     </div>
                   </div>
                 </div>
                 <div class="single-portfolio mix development">
                   <div class="single-item">
                     <img src="assets/sf3.jpg" alt="img">
                     <div class="single-item-content">
                        <div class="portfolio-social-icon">
                          <a class="fancybox" data-fancybox-group="gallery" href="assets/sf3.jpg"><i class="fa fa-eye"></i></a>
                        </div>
                     </div>
                   </div>
                 </div>
                 <div class="single-portfolio mix development">
                   <div class="single-item">
                     <img src="assets/sf4.jpg" alt="img">
                     <div class="single-item-content">
                        <div class="portfolio-social-icon">
                          <a class="fancybox" data-fancybox-group="gallery" href="assets/sf4.jpg"><i class="fa fa-eye"></i></a>
                        </div>
                     </div>
                   </div>
                 </div>
                 <div class="single-portfolio mix photography">
                   <div class="single-item">
                     <img src="assets/campus.jpeg" alt="img">
                     <div class="single-item-content">
                        <div class="portfolio-social-icon">
                          <a class="fancybox" data-fancybox-group="gallery" href="assets/campus.jpg"><i class="fa fa-eye"></i></a>
                        </div>
                     </div>
                   </div>
                 </div>
                 <div class="single-portfolio mix photography">
                   <div class="single-item">
                     <img src="assets/campus1.jpeg" alt="img">
                     <div class="single-item-content">
                        <div class="portfolio-social-icon">
                          <a class="fancybox" data-fancybox-group="gallery" href="assets/campus1.jpg"><i class="fa fa-eye"></i></a>
                        </div>
                     </div>
                   </div>
                 </div>
                 <div class="single-portfolio mix photography">
                   <div class="single-item">
                     <img src="assets/campus3.jpeg" alt="img">
                     <div class="single-item-content">
                        <div class="portfolio-social-icon">
                          <a class="fancybox" data-fancybox-group="gallery" href="assets/campus3.jpg"><i class="fa fa-eye"></i></a>
                        </div>
                     </div>
                   </div>
                 </div>
                 <div class="single-portfolio mix photography">
                   <div class="single-item">
                     <img src="assets/campus4.jpeg" alt="img">
                     <div class="single-item-content">
                        <div class="portfolio-social-icon">
                          <a class="fancybox" data-fancybox-group="gallery" href="assets/campus4.jpg"><i class="fa fa-eye"></i></a>
                        </div>
                     </div>
                   </div>
                 </div>
                 
               </div>      
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Portfolio section -->

  <!-- Start counter section -->
  <section id="counter">
    <img src="assets/counter-bg.jpg" alt="img">
    <div class="counter-overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <!-- Start counter area -->
            <div class="counter-area">
              <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="single-counter">
                  <span class="fa fa-users"></span>
                  <div class="counter-count">
                    <span class="counter">1050</span>
                    <p>Happy Students</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="single-counter">
                  <span class="fa fa-user-plus"></span>
                  <div class="counter-count">
                    <span class="counter">75</span>
                    <p>Our Faculty</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="single-counter">
                  <span class="fa fa-graduation-cap"></span>
                  <div class="counter-count">
                    <span class="counter">+12</span>
                    <p>Education</p>
                  </div>
                </div>
              </div>    
            </div>
          </div>
        </div>
      </div>
    </div> 
  </section>
  <!-- End counter section -->
  <!-- Start Testimonial section -->
  <section id="testimonial">
    <img src="assets/testimonial-bg.jpg" alt="img">
    <div class="counter-overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <!-- Start Testimonial area -->
            <div class="testimonial-area">
              <div class="title-area">
                <h2 class="tittle">What people say about us</h2>
                <span class="tittle-line"></span>              
              </div>
              <div class="testimonial-conten">
                <!-- Start testimonial slider -->
                <div class="testimonial-slider">
                  <!-- single slide -->
                  <div class="single-slide">
                    <p> Parents’ orientation programs and parents counselling sessions are helping us alot and upbringing the children..</p>
                    <div class="single-testimonial">
                      <img class="testimonial-thumb" src="assets/dad1.jpg" alt="img">
                      <p>Ram</p>
                      <span>Father of Shankar</span>
                    </div>
                  </div>
                  <!-- single slide -->
                  <div class="single-slide">
                    <p>I am happy with the Meetings wich  are regularly conducted to discuss the strengths and weaknesses of the child and solution to overcome the hindrances.</p>
                    <div class="single-testimonial">
                      <img class="testimonial-thumb" src="assets/dad2.jpg" alt="img">
                      <p>Jeevan Gowd</p>
                      <span>Father of Sri Mukhi</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </section>
  <!-- End Testimonial section -->

  <!-- Start from blog section -->
  <!-- End from blog section -->
  <!-- Start Contact section -->
  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="contact-left wow fadeInLeft">
            <h2>Contact with us</h2>
            <address class="single-address">
              <h4>VISHWAJYOTHI MONTESSORI.</h4>
              <p>VIDYANAGAR, SIRUGUPPA,BALLARI (DIST.) KARNATAKA, INDIA     
                PHONE: 08396222154, +919590560090   
                Mail ID: montessori@vishwajyothischool.org</p>
            </address>
             <address class="single-address">
              <h4>VISHWAJYOTHI INTERNATIONAL PUBLIC SCHOOL</h4>
              <p>VIJAYANAGARA,SIRUGUPPA,BALLARI (DIST.),KARNATAKA, INDIA </p>
            </address>
             <address class="single-address">
              <h4>Phone</h4>
              <p>Phone Number:+91 92436 55555, +91 99002 21050 </p>
            </address>
             <address class="single-address">
              <h4>E-Mail</h4>
              <p>Principal:  principal@vishwajyothischool.org</p>
            </address>
          </div>
        </div>
        <div class="col-md-8 col-sm-6 col-xs-12">
          <div class="contact-right wow fadeInRight">
            <h2>Send a message</h2>
            <form action="" class="contact-form">
              <div class="form-group">                
                <input type="text" class="form-control" placeholder="Name">
              </div>
              <div class="form-group">                
                <input type="email" class="form-control" placeholder="Enter Email">
              </div>              
              <div class="form-group">
                <textarea class="form-control"></textarea>
              </div>
              <button type="submit" data-text="SUBMIT" class="button button-default"><span>SUBMIT</span></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact section -->
  <!-- Start Google Map -->
  <section id="google-map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d122958.03828748487!2d76.8647998061821!3d15.621610431811265!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bb7bc42d8d28149%3A0x8fcee0500428d616!2sSiruguppa%2C+Karnataka+583121!5e0!3m2!1sen!2sin!4v1468082862726" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>  
  </section>
  <!-- End Google Map -->
  <!-- Start Footer -->    
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="footer-top-area">             
                <a class="footer-logo"><img src="/assets/vjs.png" alt="Logo"></a>              
              <div class="footer-social">
                <a class="facebook"><span class="fa fa-facebook"></span></a>
                <a class="twitter"><span class="fa fa-twitter"></span></a>
                <a class="google-plus"><span class="fa fa-google-plus"></span></a>
                <a class="youtube"><span class="fa fa-youtube"></span></a>
                <a class="linkedin"><span class="fa fa-linkedin"></span></a>
                <a class="dribbble"><span class="fa fa-dribbble"></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>Designed by AADYA Technologies</p>
    </div>
  </footer>
  <!-- End Footer -->